body {
    
    background-color: #e3f2fd;



}
#header{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(..//IMG/header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.int{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 300px;
}
#descme{
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}

#descme{
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}
#img1{
     box-shadow: -15px 5px 5px;
}
.lead{
    max-width: 80%;
    text-align: left;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;

}
.img-thumbnail{
    max-height: 80%;
}

.p-5{
    font-weight: 400;
}
#contact::after{
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
#list{
    margin-left: 4.5em;
}

.fa-ul>li {
    padding: 5px;
    
}

ul.unstyled-list li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  

}

ul.unstyled-list /* Extra part, to style spaces between each item */
{
    min-width: 696px;
	padding-top: 20px;
}
.unstyled-list{
    list-style: none;
}

#footer {
    background-color: #000000bf;
}

ul.unstyled-list  li a{
    font-size: 24px;
    color: white;
    font-weight: 500;
}

#copyright{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    transform-box: inherit;
}

